.features-container, .hero, .comments-container, .pricing-container, .download-container, .footer-menu, .copyrights, .top-menu {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
}

.nav__item-dropdown{
    padding-left: 35%;
}


.hero {
    align-items: center;
}

.hero__content {
    padding-top: 3.75rem;
    align-self: flex-start;
    padding-right: 2rem;
}

.hero__content-description {
    font-size: 1.5rem;
}



.features {
    align-items: initial;
}


.features-about {
    flex-wrap: nowrap;
}


.features, .features-about {
    padding: 0;
}

.features-about__content {
    padding-right: 2rem;
}


.comments {
    justify-content: center;
}


.pricing__options {
    align-items: center;
}

.pricing__content-header {
    width: 50%;
    margin: 3.75rem auto;
}


.download__header-text {
    text-align: left;
}


.footer-nav {
    padding: 2rem;
}

.footer-nav__header {
    margin-top: 0;
}

.footer-nav__content, .footer-nav__header, .footer-nav__logo {
    padding-bottom: 1.5rem;
}